@{
    ViewData["Title"] = "Panel de Administrador";
}
<p style="color:red">@ViewBag.RoleDebug</p>

<div class="text-center">
    <h1 class="display-4">Bienvenido Administrador</h1>
    <p>Administra clientes, rutas, categorías, asientos y tickets.</p>
</div>
