@{
    ViewData["Title"] = "Bienvenido";
}
<p style="color:red">@ViewBag.RoleDebug</p>

<div class="text-center">
    <h1 class="display-4">Bienvenido a Sistema de Venta de Tickets</h1>
    <p>Consulta tus tickets y rutas disponibles.</p>
</div>
